.container {
  margin-block: 4rem;
  max-width: 1300px;
  margin-inline: auto;
}
.preheader {
  color: #eabe61;
  margin-inline: 2rem;
}
.header {
  font-size: 2rem;
  font-weight: 600;
  color: var(--primarycolortwo);
  margin-inline: 2rem;
}
.cards {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-inline: 2rem;
}
.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.card_header {
  width: 30vw;
  font-size: 1.5rem;
  text-align: center;
  position: sticky;
  top: 0;
  left: 0;
}
.card_header > img {
  width: 120px;
}
.card_text {
  padding: 1rem;
  font-size: 1.1rem;
  color: rgb(107, 107, 107);
  text-align: justify;
}

.card_desc {
  width: 70vw;
}
.card_desc img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: top;
}

@media screen and (max-width: 991px) {
  .card {
    flex-direction: column;
    gap: 2rem;
  }
  .card_header {
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card_desc {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .container {
    margin-block: 2rem;
  }
  .preheader {
    margin-inline: 1rem;
    font-size: 0.9rem;
  }
  .header {
    margin-inline: 1rem;
    font-size: 1.5rem;
    line-height: 1.3;
  }
  .cards {
    margin-inline: 1rem;
    margin-top: 2rem;
    gap: 3rem;
  }
  .card_header > img {
    width: 80px;
  }
  .card_desc img {
    height: 200px;
  }
  .card_text {
    padding: 0rem;
    padding-block: 10px;
    text-align: left;
    font-size: 1rem;
  }
}
